@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: Roboto;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  min-height: 100vh;
  color: white;
  padding-bottom: 50px;
}

.title {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 25px;
  font-size: 150px;
  font-weight: bolder;
}

.subtitle {
  padding-left: 25px;
  font-size: 75px;
  font-weight: bold;
}

.container {
  margin-left: 100px;
  width: 75vw;
  border-radius: 50px;
  background-color: white;
  color: blueviolet;
  margin-bottom: 50px;
  padding: 12.5px;
}

.metrics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 100px;
}

.metric-container {
  margin-top: 15px;
}

.metric-subcontainer {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.metric {
  margin-bottom: 15px;
  margin-right: 15px;
  font-size: 48px;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 100px;
}

.data {
  color: rgb(160, 102, 215);
  font-size: 48px;
  font-weight: bold;
}

.element {
  color: rgb(160, 102, 215);
  font-size: 48px;
  margin-bottom: 15px;
  font-weight: bold;
}

.text {
  margin-left: 100px;
  color: rgb(160, 102, 215);
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

.label {
  font-size: 22px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1270px) {
  .metrics {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
  }

  .neutral {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 655px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .text,
  .element,
  .data,
  .metric {
    font-size: 36px;
  }

  .label {
    font-size: 16px;
  }

  .element {
    margin-left: 0;
    text-align: start;
  }

  .list,
  .metrics,
  .text,
  .metric-subcontainer {
    margin-left: 0;
    text-align: center;
  }

  .main {
    align-items: center;
    justify-content: flex-start;
  }

  .title {
    padding-left: 0;
    padding-top: 30px;
    font-size: 48px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
  }

  .subtitle {
    padding-left: 0;
    font-size: 36px;
    text-align: center;
  }

  .text {
    font-size: 24px;
    padding-left: 0;
    text-align: center;
  }
}
