<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AudioAssembly</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static',filename='AudioAssembly.png') }}"
    />
  </head>

  <body>
    <div class="main">
      <div class="title left">AUDIOASSEMBLY</div>
      <div class="subtitle left">
        Upload an audio/video file to receive a detailed report.
      </div>
      <form
        class="form left"
        method="post"
        action="/report"
        enctype="multipart/form-data"
      >
        <label class="upload-container" for="file">
          <i class="fa fa-angle-up fa-5x" aria-hidden="true"></i
          ><input class="upload" type="file" name="data" id="file"
        /></label>
        <input class="submit" type="submit" value="→" />
      </form>
    </div>
  </body>
</html>
