<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AudioAssembly</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />
  </head>

  <body>
    <header class="header">
      <p class="Name_of_Website">Audio Assembly</p>
      <nav class="menu">
        <li>Home</li>
      </nav>
    </header>





    <h3 class="title_of_page">Verify your file with Audio Assembly before uploading.</h3>
    <p>Our platform enables you to check to see if your video/audio file has content that could be deemed inappropriate.</p>

    <div class="upload">

        <p>Get your report below now!</p>

        <form action="/report.html">
          <input type="file" id="myFile" name="filename">
        </form>

        <button> <i>Check Results</i> </button>
    </div>
    </div>
  </body>
</html>
