<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AudioAssembly - Report</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='report.css') }}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static',filename='AudioAssembly.png') }}"
    />
  </head>

  <body>
    <div class="main">
      <div class="title">REPORT</div>
      <div class="container">
        <div class="subtitle">CONFIDENCE</div>
        <div class="text">
          Your confidence score is
          <span style="color: rgb(160, 102, 215)">{{data['confidence']}}</span>.
        </div>
      </div>
      <div class="container">
        <div class="subtitle">SPEAKERS</div>
        <div class="text">
          <span style="color: rgb(160, 102, 215)">{{data['speakers']}}</span>
          speaker(s) were found.
        </div>
      </div>
      <div class="container">
        <div class="subtitle">DISFLUENCIES</div>
        <div class="text">
          There were
          <span style="color: rgb(160, 102, 215)">
            {{data['disfluencies_count']}} </span
          >disfluencie(s). (uhm/uhh's)
        </div>
      </div>
      <div class="container">
        <div class="subtitle">LANGUAGE</div>
        <div class="text">
          The language detected was
          <span style="color: rgb(160, 102, 215)">{{data['language']}}</span>.
        </div>
      </div>
      <div class="container">
        <div class="subtitle">PROFANITY</div>
        <div class="text">
          <span style="color: rgb(160, 102, 215)">{{data['profanity']}}</span>
          swear word(s) were discovered in your speech.
        </div>
      </div>
      <div class="container">
        <div class="subtitle">KEYWORDS</div>
        <div class="text">
          The keywords noted were:
          <span style="color: rgb(160, 102, 215)">
            {%- for key in data['keywords'] -%} {{ key['text'] }} {%- if not
            loop.last -%} , {% endif %} {%- endfor -%} </span
          >.
        </div>
      </div>
      <div class="container">
        <div class="subtitle">CONTENT SAFETY</div>
        <div class="text">
          The audio could be
          <span style="color: rgb(160, 102, 215)">
            {{data['content_safety']}} </span
          >triggering to some.
        </div>
      </div>
      <div class="container">
        <div class="subtitle">TONE</div>
        <div class="text">
          The tone was
          <span style="color: rgb(160, 102, 215)">
            {{ data['tone']['POSITIVE'] }}</span
          >
          positive,
          <span style="color: rgb(160, 102, 215)"
            >{{ data['tone']['NEGATIVE'] }}</span
          >
          negative, and
          <span style="color: rgb(160, 102, 215)"
            >{{ data['tone']['NEUTRAL'] }}</span
          >
          neutral.
        </div>
      </div>
      <div class="container">
        <div class="subtitle">IMPORTANT ENTITIES</div>
        <div class="text">
          The common words/theme of the audio revolved around
          <span style="color: rgb(160, 102, 215)">
            {%- for entity in data['important_entities'] -%} {% if loop.last %}
            and {% endif %} the {{ entity["entity_type"] }} {{ entity["text"] }}
            {%- if not loop.last -%} , {% endif %} {%- endfor -%} </span
          >.
        </div>
      </div>
    </div>
  </body>
</html>
