<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AudioAssembly - Report</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='report.css') }}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static',filename='AudioAssembly.png') }}"
    />
  </head>

  <body>
    <div class="main">
      <div class="title">REPORT</div>
      <div class="container">
        <div class="subtitle">METRICS</div>
        <div class="metrics">
          <div>
            <div class="data">{{data['confidence']}}</div>
            <div class="label">CONFIDENT</div>
          </div>
          <div>
            <div class="data">{{data['speakers']}}</div>
            <div class="label">SPEAKER(S)</div>
          </div>
          <div>
            <div class="data">{{data['disfluencies_count']}}</div>
            <div class="label">DISFLUENCIE(S)</div>
          </div>
          <div>
            <div class="data">{{data['language']}}</div>
            <div class="label">LANGUAGE</div>
          </div>
          <div>
            <div class="data">{{data['profanity']}}</div>
            <div class="label">SWEAR WORD(S)</div>
          </div>
          <div>
            <div class="data">{{data['content_safety']}}</div>
            <div class="label">TRIGGERING</div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="subtitle">TONE</div>
        <div class="metrics">
          <div>
            <div class="data">{{data['tone']['POSITIVE']}}</div>
            <div class="label">POSITIVE</div>
          </div>
          <div>
            <div class="data">{{data['tone']['NEGATIVE']}}</div>
            <div class="label">NEGATIVE</div>
          </div>
          <div class="neutral">
            <div class="data">{{data['tone']['NEUTRAL']}}</div>
            <div class="label">NEUTRAL</div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="subtitle">KEYWORDS</div>
        <div class="list">
          {%- for key in data['keywords'] -%}
          <div class="element">
            <span style="color: blueviolet; font-weight: normal">•</span> {{
            key['text'] }}
          </div>
          {%- if not loop.last -%} {% endif %} {%- endfor -%}
        </div>
      </div>
      <div class="container">
        <div class="subtitle">IMPORTANT ENTITIES</div>
        <div class="metric-container">
          {% if data['important_entities'] != [] %} {%- for entity in
          data['important_entities'] -%}
          <div class="metric-subcontainer">
            <div class="metric">•</div>
            <div class="metric">
              <div class="data">{{ entity["text"] }}</div>
              <div class="label">{{ entity["entity_type"] }}</div>
            </div>
          </div>
          {%- endfor -%} {% endif -%}
        </div>
      </div>
      <div class="container">
        <div class="subtitle">TRANSCRIPT</div>
        <div class="text">{{data['text']}}</div>
      </div>
    </div>
  </body>
</html>
